<nav
    class="bg-white border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
    <div class="flex flex-wrap justify-between items-center">
        <div class="flex justify-start items-center">
            <div class="flex flex-col justify-between">
                <span class="flex items-center justify-between mr-4">
                    <img src="../../assets/img/anu-wrap.svg" class="h-[50px] w-[50px] me-3" alt="Anuwrap Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Anuwrap</span>
                </span>
            </div>
        </div>
        <div class="flex items-center lg:order-2">

            <!-- Profile-->
            <button type="button"
                class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                id="user-menu-button" aria-expanded="false" data-dropdown-toggle="dropdown">
                <span class="sr-only">Open user menu</span>
                <a routerLink="../profile">
                    <img class="w-8 h-8 rounded-full" src="../../assets/img/hacker.png" alt="user photo" />
                </a>
            </button>
            <!-- Dropdown menu -->
        </div>
    </div>
</nav>