<div class="w-screen h-screen relative overflow-hidden">
  <!-- sidebar -->
  <div class="sidebar hidden lg:block lg:w-2/12 h-full bg-gray-900 fixed left-0 top-0">
    <div class="flex flex-row mt-32 ml-4 text-white hover:text-gray-400">
      <img src="../../assets/img/dashboard.svg" alt="">
      <a class="ml-4" href="/">Dashboard</a>
    </div>
    <div class="flex flex-row mt-8 ml-4 text-white hover:text-gray-400">
      <img src="../../assets/img/workspace.svg" alt="">
      <a class="ml-4" href="/">Workspace</a>
    </div>
    <div class="flex flex-row mt-8 ml-4 text-white hover:text-gray-400">
      <img src="../../assets/img/settings.svg" alt="">
      <a class="ml-4" href="/">Settings</a>
    </div>
  </div> 
  <!-- header -->
  <div class="w-full h-16 shadow-lg flex flex-row items-center justify-between relative z-10">
    <div class="ml-4 flex flex-row justify-between ">
      <img class="h-16 w-16 border-4 border-white rounded-full" src="../../assets/img/anu-wrap.svg" alt="logo" />
      <a class="text-white mt-6 ml-2 font-bold text-lg" href="/">Anuwrap</a>
    </div>
    <div class="mr-4 flex flex-row items-center">
      <a href="/">
        <img class="h-10 w-10 border-4 border-black rounded-full" src="/" alt="/" />
      </a>
    </div>
  </div>
  <!-- main page -->
  <div class="grid grid-cols-2 h-full ml-72">
    <div class="col-span-1 w-full">
      <h1 class="font-bold text-2xl">My Profile</h1>
      <img class="h-24 w-24 border-4 border-black rounded-full" src="/" alt="/">
      <div class=" grid grid-rows-5">
        <div class="flex flex-row">
          <div class="flex flex-col mt-2">
            <label for="firstname">FIRST NAME</label>
            <label class="border-4 border-gray-200 w-52 rounded-xl shadow-lg p-2" for="/">Kent Harold</label>
          </div>
          <div class="flex flex-col ml-52">
            <label for="Lastname">LAST NAME</label>
            <label class="border-4 border-gray-200 w-52 rounded-xl shadow-lg p-2" for="/">Belen</label>
          </div>
        </div>
        <div class="mt-2 flex flex-col">
          <label for="email">EMAIL</label>
          <label class="border-4 border-gray-200 w-full rounded-xl shadow-lg p-2" for="/">202211399gordoncollege.edu.ph</label>
        </div>
        <div class="mt-4 flex flex-col">
          <label for="contactnumber">CONTACT NUMBER</label>
          <label class="border-4 border-gray-200 w-full rounded-xl shadow-lg p-2" for="/">09942063275</label>
        </div>
        <div class="mt-4 flex flex-col">
          <label for="password">PASSWORD</label>
          <label class="border-4 border-gray-200 w-full rounded-xl shadow-lg p-2" for="/">*************</label>
        </div>
        <div class="flex justify-center mt-10">
          <button class="w-1/4 h-10 bg-gray-900 rounded-lg text-white hover:bg-gray-600 hover:text-black  shadow-xl">Logout</button>
        </div>
      </div>
    </div>
    <div class="col-span-1 ml-40 w-4/5">
      <h1 class="font-bold text-2xl">Edit Profile</h1>
      <div class=" grid grid-rows-5">
        <div class="mt-4 flex flex-col">
            <label for="firstname">FIRST NAME</label>
            <input class="border-4 border-gray-200 w-4/5 rounded-xl shadow-lg p-2" for="/" placeholder="First Name">
        </div>
        <div class="mt-4 flex flex-col">
            <label for="Lastname">LAST NAME</label>
            <input class="border-4 border-gray-200 w-4/5 rounded-xl shadow-lg p-2" for="/" placeholder="Last Name">
        </div>
        <div class="mt-4 flex flex-col">
          <label for="contactnumber">CONTACT NUMBER</label>
          <input class="border-4 border-gray-200 w-4/5 rounded-xl shadow-lg p-2" for="/" placeholder="09*********">
        </div>
        <div class="mt-4 flex flex-col">
          <label for="password">PASSWORD</label>
          <input class="border-4 border-gray-200 w-4/5 rounded-xl shadow-lg p-2" for="/" placeholder="************">
        </div>
        <div class="flex justify-center mt-10">
          <button class="w-1/4 h-10 bg-gray-900 rounded-lg text-white hover:bg-gray-600 hover:text-black  shadow-xl">Logout</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-navigation></app-navigation>
