<div class="fixed inset-0 flex items-center justify-center bg-white bg-opacity-50">
    <div class="flex flex-col items-center w-96 h-96 bg-gray-400 rounded-2xl shadow border border-gray-700">
        <div class="flex flex-row items-center">
            <img class="h-16 w-16" src="../../../assets/img/anu-wrap.svg" alt="logo">
            <a href="/">Anuwrap</a>
        </div>
        <div class="flex flex-col items-start bg-gray-300 w-72 p-4 rounded-2xl shadow border">
            <p class="text-sm mb-2">LoginS Unsuccessful!</p>
            <ul class="list-disc ml-5">
                <li class="text-xs">First name should contain only letters and spaces</li>
                <li class="text-xs">Last name should contain only letters and spaces</li>
                <li class="text-xs">Invalid email format</li>
                <li class="text-xs">Password should be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character</li>
            </ul>
        
        <p class="mt-4 text-black text-sm font-normal font-['Roboto'] leading-snug tracking-wide">Please correct the errors and try again.</p>
        </div>
        <div class="mt-9 w-36 h-8 bg-gray-500 rounded-md flex flex-col justify-center items-center hover:bg-gray-200">
            <button mat-button (click)="closeErrorPopup()" class="w-full h-full text-white text-sm font-medium font-['Roboto'] leading-snug tracking-wide hover:text-black">Okay</button>
        </div>
    </div>
</div>
