<div class="w-full h-full relative bg-gray-900">
    <div class="w-full sm:h-14 bg-gray-800 border-white border-solid border-opacity-100">
      <div class="flex flex-row justify-between">
        <div class="ml-3 sm:ml-9 mt-3 flex items-center space-x-2">
          <img src="/frontend/src/app/img/anu-wrap.svg" alt="" class="w-6 h-6 sm:w-auto sm:h-auto" />
          <p class="hidden sm:block w-20 h-4 text-center text-rose-200 text-base font-bold font-['Poppins'] leading-3 tracking-wide">ANUWRAP</p>
        </div>
        <div class="mr-3 sm:mr-10 mt-3">
          <a class="" href=""><img class="w-9 h-9 rounded-full" src="/frontend/src/app/img/anu-wrap.svg" /></a>
        </div>
      </div>
    </div>
    <div class="hidden sm:block w-60 h-full bg-gray-800 border-white border-solid border-opacity-100">
      <div class="flex flex-col">
        <div class="flex flex-col ml-3 sm:ml-7 mt-7 space-y-3 text-white">
          <div>
            <a class="text-white text-base font-medium font-['Poppins'] leading-3 tracking-wide" href="/">Dashboard</a>
          </div>
          <div>
            <a class="text-white text-base font-medium font-['Poppins'] leading-3 tracking-wide" href="/">Profile</a>
          </div>
          <div>
            <a class="text-white text-base font-medium font-['Poppins'] leading-3 tracking-wide" href="/">Workspaces</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  